.page {
    width: 360px;
}
.page_header {
    background-color: #1E1F29;
    
}
.header_menu_container {
    display: flex;
    justify-content: space-between;
}
.page_header_menu{
    width: 24px;
    height: 24px;
    background-color: black;
}
.preview{
    height: 370px;
    background-color: #1E1F29;
}
h1{
    margin: 0;
    color: white;
}
.grad {
    color: rgb(215, 123, 229)
}

.video {
   width: 312px;
   height: 176px;
   border-radius: 10px;
   background-image: url(../images/video.png); 
}