ul {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
/*------------------------------------------*/
.page {
    background-color: rgb(29, 54, 81);
}

.page_header {
    max-width: 1440px;
    margin: 0 auto;
}

.header_navigation__list {
    font-size: 18px;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.nav_list__item {
    color:#A3D0FF;
}